.listwrapper{
    text-align: left;
    padding: 20px;
    margin:auto;
    width:100%;
    max-width: 625px;
    font-size: 20px;
    font-weight: bold;
    a{
        color:black;
    }
    a:hover{
        color: red;
    }
    }