<div class="container">
<form class="form wrapper">
  <div class="inputarticle">
    <div>
<label style="font-weight: bold;">Article name:</label>
</div>

  <input type="text" id="title" name="title" placeholder="Name of Article" autofocus #title>
  </div>
  <div class="inputlink">
  <div>
    <label style="font-weight: bold;">Link:</label>
  </div>
  <input type="text" id="link" name="link" placeholder="Link"  #link>
</div>
<button class="button" (click)="onAdd(title,link)">Submit Article</button>
</form>
<app-article-list [article]=article></app-article-list>
</div>

